* {
    box-sizing: border-box;
}

:root {
    --dark: #5a5a5a;
    --light: azure;
    --border: 5px solid black;
}


body {
    margin: 5px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

/*navigation*/
header {
    background-color: var(--dark);
    border-color: black;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

header h1 {
    color: var(--light);
    text-shadow: -2px 0px black;

}

header nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

}

.nav a {
    font-size: 20px;
    padding-left: 30px;
    text-decoration: none;
    color: var(--light)
}

/*hero-banner*/

.hero-banner {
    height: 150px;
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-banner h2 {
    color: black;
    font-size: 55px; 
    background-color: rgba(255, 255, 255, 0.7);
    border: var(--border)
}

/*about me*/

.page-wrapper h2{
    font-size: 45px;
}

.page-section {
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "About-me"
        "Work"
        ;
}

#about {
    color: var(--light);
    grid-area: About-me;
    background-color: var(--dark);
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "left-am   right-am"
    ;
}

#about h2{
    grid-area: left-am;
    border-right: var(--border);
}

#about p{
    grid-area: right-am;
    padding: 20px;
}

/*portfolio container*/
#work {
    grid-area: Work;
    background-color: var(--dark);
    height: 120vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "left-work  right-work"
    ;
}

#work h2 {
    grid-area: left-work;
    border-right: var(--border);
    color: var(--light);
}

.my-works {
    grid-area: right-work;
    padding: 20px;
    text-align: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    "pre-work pre-work"
    "pre-work pre-work"
    "week-1   week-2"
    "week-3   week-4"
    ;
}

.text {
    background-color: black;
    color: var(--light);
    border: 3px solid white;
}

.text a {
    text-decoration: none;
    color: var(--light);
}

#pre-work {
    grid-area: pre-work;
    background-image: url(../images/pre-work.png);
    background-size: cover;
    filter: grayscale(100%);
    background-repeat: no-repeat;
}

#week-1 {
    grid-area: week-1;
    background-image: url(../images/week-1.png);
    filter: grayscale(100%);
    background-size: cover;
}

#week-2 {
    grid-area: week-2;
    background-image: url(../images/week-2.png);
    filter: grayscale(100%);
    background-size: cover;
}

#week-3 {
    grid-area: week-3;
    background-image: url(../images/week-3.jpg);
    filter: grayscale(100%);
    background-size: cover;
}

#week-4 {
    grid-area: week-4;
    background-image: url(../images/week-4.jpeg);
    filter: grayscale(100%);
    background-size: cover;
}

/*contact*/

.page-section-contact {
    padding: 20px;
    height: 90px;
    background-color: var(--dark);
    display: grid;
    align-content: space-between;
    grid-template-rows: 25% 75%;
    grid-template-areas:
    "left-contact right-contact"
    ;
}

#contact h2 {
    grid-area: left-contact;
    color: var(--light);
}

.nav-contact {
    grid-area: right-contact;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-contact a {
    text-decoration: none;
    color: var(--light);
}